.login_wrapper {
  border: 20px solid lightblue;
  padding: 5px 20px;
  position: absolute;
  top: 35%;
  left: 35%;
  width: 450px;
  height: 250px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 25px;
  padding-bottom: 20px;
}
.form {
  width: 300px;
}
.form > div {
  display: flex;
  justify-content: center;
  padding-bottom: 7px;
  align-items: center;
}
label {
  flex: 1;
  text-align: left;
}
button {
  width: 85px;
  float: right;
  padding: 3px;
}
input {
  padding: 5px;

  margin: 5px;
}
